{% extends 'principal.html' %}

{% block title %}Editar Promoción{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Editar Promoción</h1>
    <form method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ formulario.as_p }}
        <button type="submit" class="btn btn-success">actualizar</button>
    </form>
    <a href="{% url 'lista_promociones' %}" class="btn btn-secondary mt-3">Volver al listado</a>
</div>
{% endblock %}
